.sales-summary-container {
    display: flex;   
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 440px;
}

.sales-summary-card {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 200px;
    height: 200px;    
}

.sales-summary-card:nth-of-type(1), .sales-summary-card:nth-of-type(2) {
   margin-bottom: 40px; 
}

.sales-summary-card-value {
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 25px;
    color: var(--white-color);
}

.sales-summary-card-label {
   font-size: 17px;
   color: var(--gray-less-dark-color);
}