.app-container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 55px;
  padding-right: 55px;
}

.sales-overview-container {
  display:flex;
  justify-content: space-between;
  margin-top: 40px;
}
