:root {
  --primary-color: #283143;
  --secondary-color: #1b2532;
  --light-color: #e9e9e9;
  --gray-light-color: #9aaabe;
  --gray-less-light-color: #949494;
  --gray-dark-color: #384460;
  --green-light-color: #08b976;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  border-radius: 10px;
  background-color: var(--primary-color);
}
